body{
margin:0;
font-family:'Poppins',sans-serif;
background:#0b0b0b;
color:white;
}

/* Navbar */

.top-navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
}

.logo,
.profile{
    position:relative;
    padding:8px 15px;
    border-radius:20px;
    overflow:hidden;
    cursor:pointer;
    transition:0.3s;
    z-index: 1;
}
.logo::before,
.profile::before{
    content:'';
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(90deg,#7f00ff,#ff0080);
    transition:0.3s;
    
}
.logo:hover::before,
.profile:hover::before{
    top:0;
}


.search-box input{
background:#111;
border:1px solid #333;
padding:6px 15px;
border-radius:20px;
color:white;
outline:none;
transition:0.3s;
}

.search-box input:hover,
.search-box input:focus{
    border:1px solid #ff0080;
    box-shadow:0 0 10px #7f00ff, 0 0 20px #ff0080;
}

/* Title */

.page-title{
padding:20px 5%;
color:#ff0080;
}

/* List */

.manhwa-list{
display:flex;
flex-direction:column;
gap:25px;
padding:20px 5%;
}

/* Card */

.manhwa-item{
display:flex;
gap:20px;
background:#111;
padding:15px;
border-radius:12px;
transition:0.3s;
}

/* Image */

.manhwa-item img{
width:140px;
border-radius:10px;
}

/* Info */

.info h2{
margin:0;
}

.genre{
color:#ff0080;
font-size:14px;
}

.desc{
color:#ccc;
font-size:13px;
margin-top:10px;
}

/* Button */

.info button{
margin-top:10px;
padding:6px 14px;
border-radius:20px;
border:1px solid transparent;
background:#111;
color:white;
cursor:pointer;
position:relative;
overflow:hidden;
transition:0.3s;
}

/* Neon fill */

.info button::before{
content:'';
position:absolute;
top:100%;
left:0;
width:100%;
height:100%;
background:linear-gradient(90deg,#7f00ff,#ff0080);
transition:0.3s;
z-index:-1;
}

.info button:hover::before{
top:0;
}

/* Glow */

.info button:hover{
border:1px solid #ff0080;
box-shadow:0 0 10px #7f00ff,0 0 20px #ff0080;
}

/* Card hover */

.manhwa-item:hover{
transform:scale(1.02);
box-shadow:0 0 15px #7f00ff,0 0 25px #ff0080;
}

a{
    text-decoration: none;
    color: white;
}